extends layout

block content
  h1= title
  a(href='/insert', title='View insert opt page') 添加数据<br/>
  a(href='/update', title='View update opt page') 更新数据<br/>
  a(href='/del', title='View del opt page') 删除数据<br/>
  a(href='/select', title='View select opt page') 查询数据<br/>
